{% extends "_contract-base.html" %}

{% block content %}

<div class="starter-template">
  <h1>DCentn Contract Repository</h1>
  <hr>
  <div>
    <div class="btn-group" role="group" aria-label="Basic example">
      <input type="text" id="topic" value="gig">
      <button type="button" class="btn btn-primary" onclick="handleClick()">Search Contracts</button>
    </div>
    <p>
      <i>test with topic gig to ensure everything is running well</i>
    </p>
  </div>
  <div id="searchResult"></div>
  <br>
  <div>
    <h3>Contracts</h3>
    <br>
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Status</th>
          <th>Result</th>
        </tr>
      </thead>
      <tbody id="tasks">
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
